.acc-info-container {
    animation: fade-in 1.2s;
    width: 640px;
    margin: 31px auto 0;
    .n-b {
        background: url('../../static/img/notebook.png') no-repeat;
        width: 168px;
        height: 105px;
        display: inline-block;
    }
    .c-p {
        background: url('../../static/img/computer.png') no-repeat;
        width: 166px;
        height: 100px;
        display: inline-block;
        margin:0 41px 0 35px;
    }
    .info {
        display: inline-block;
        vertical-align: top;
        .content {
            margin-top: 20px;
            .l {
                margin: 0 0 20px 0;
                .m {
                    color:#979797;
                    display: inline-block;
                }
                .c {
                    color:#333333;
                    display: inline-block;
                }
            }
        }
        .tip {
            margin-top: 80px;
            font-size:12px;
            color:#979797;
            .m {
                font-size: 12px;
                color: #42a5f5;
            }
        }
    }
    @keyframes fade-in {
        from { opacity: 0;}
        to { opacity: 100%;}
    }
}