.success-container {
    text-align: center;
    .l {
        font-size:14px;
        color:#666666;
        margin-top: 34px; 
    }
    .m {
        font-size:18px;
        font-weight: bold;
        color:#333333;
        margin-top: 33px;
    }
}